.downloads
.tmp
toolchain/bin
toolchain/build.log.bz2
toolchain/include
toolchain/lib
toolchain/libexec
toolchain/share
toolchain/src/.config.old
toolchain/src/build.log
toolchain/src/config
toolchain/src/config.gen
toolchain/x86_64-xpc-linux-gnu
/recipes/**/src/*
recipes/binutils/binutils*.tar.gz
recipes/pacman/pacman*.tar.gz
